.about {
  &__inner {
    padding: 100px 0;
    display: flex;

  }
  &__image {
    flex-basis: 40%;
  }
  &__image-item {
  }
  &__content {
    flex-basis: 60%;
    padding-left: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__content-title {
    text-align: center;
    margin-bottom: 16px;
  }
  &__content-subtitle {
    font-weight: 600;
    font-size: 16px;
  }
  &__content-text {
  }
  &__content-btn {
    margin-left: auto;
  }
}