.cover {
  &__inner {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('/src/images/cover-bg.jpg');
    background-repeat: no-repeat;
    background-position: center right 48px;
    @media (max-width: 920px) {
      background-size: 90%;
      padding: 50px 0;
    }
    @media (max-width: 780px) {
      background-image: none;
      padding: 30px 0;
    }
  }
  &__content {
    position: relative;
    width: 480px;
    height: 390px;
    border-radius: 8px;
    background: linear-gradient(
      180deg,
      rgba(209, 91, 143, 0.9) 0%,
      rgba(225, 166, 173, 0.9) 100%
    );
    color: $white;
    padding: 90px 65px 90px 70px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &::after {
      @media (max-width: 780px) {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 2;
        border-radius: 8px;
      }
    }
    @media (max-width: 780px) {
      width: 90%;
      background-image: url('/src/images/cover-bg.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    @media (max-width: 560px) {
      padding: 60px 35px 60px 40px;
      height: auto;
    }
  }
  &__title {
    position: relative;
    z-index: 3;
    font-family: 'Bellota';
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    text-transform: uppercase;
    margin-bottom: 24px;
    @media (max-width: 560px) {
      font-size: 28px;
      line-height: 40px;
    }
    @media (max-width: 440px) {
      font-size: 24px;
      line-height: 36px;
    }
  }
  &__subtitle {
    position: relative;
    z-index: 3;
    font-size: 18px;
    @media (max-width: 560px) {
      font-size: 14px;
    }
  }
  &__social {
    display: flex;
    flex-direction: column;
  }
  &__social-item:not(:last-child) {
    margin-bottom: 15px;
  }
  &__social-link {
  }
  &__social-img {
  }
}
