.footer {
  background: linear-gradient(
    0deg,
    rgba(209, 91, 143, 0.9) 0%,
    rgba(225, 166, 173, 0.9) 100%
  );
  color: $white;
  &__inner {
    padding: 40px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 700px) {
      flex-direction: column;
    }
  }
  &__link {
    font-size: 18px;
    line-height: 1;
    color: $white;
    position: relative;
    @media (max-width: 700px) {
      margin-bottom: 24px;
    }
    &--phone {
      padding-left: 40px;
      @media (max-width: 700px) {
        order: 0;
      }
      &::before {
        content: '';
        width: 24px;
        height: 24px;
        position: absolute;
        top: -3px;
        left: 0;
        background-image: url('/src/images/icons/phone-w.svg');
      }
    }
    &--mail {
      padding-left: 40px;
      &::before {
        content: '';
        width: 24px;
        height: 24px;
        position: absolute;
        top: -2px;
        left: 0;
        background-image: url('/src/images/icons/mail-w.svg');
      }
      @media (max-width: 700px) {
        order: 1;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 700px) {
      order: 2;
    }
  }
  &__logo {
    margin-bottom: 8px;
  }
  &__social {
    display: flex;

  }
  &__social-item {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }
  &__social-link {
  }
  &__social-img {
  }
  &__copy {
  }
  &__copy-link {
    color: $white;
    text-decoration: underline;
  }
}
