.reviews {

  background: linear-gradient(205.65deg, rgba(209, 91, 143, 0.9) 0%, rgba(225, 166, 173, 0.9) 100%);
  &__inner {
    padding: 90px 40px;
    @media (max-width: 800px) {
      padding: 30px 20px;
    }
  }
  &__title {
    margin-bottom: 60px;
    @media (max-width: 800px) {
      margin-bottom: 30px;
    }
  }
  &__slider {
  }
  &__slider-item {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 8px;
    padding: 70px 60px 60px;
    min-height: 440px;
    @media (max-width: 700px) {
      min-height: 340px;
      padding: 40px 30px 30px;
    }

    &.slick-slide {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  &__slider-title {
    font-family: 'Bellota';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 24px;
    padding-left: 96px;
    position: relative;
    @media (max-width: 800px) {
      font-size: 18px;
    }
    @media (max-width: 700px) {
      padding-left: 0;
      text-align: center;
    }
    @media (max-width: 600px) {
      font-size: 16px;
    }
    &::before {
      position: absolute;
      content: '';
      width: 48px;
      height: 48px;
      top: 0;
      left: 0;
      background-image: url('/src/images/icons/quotation-mark.svg');
      @media (max-width: 700px) {
        display: none;
      }
    }
  }
  &__slider-info {
    font-size: 16px;
    line-height: 2;
    text-align: center;
    margin-bottom: 24px;
    @media (max-width: 800px) {
      font-size: 14px;
    }
    @media (max-width: 600px) {
      font-size: 12px;
    }
  }
  &__slider-author {
    display: flex;
    align-items: center;
  }
  &__slider-avatar {
    width: 64px;
    height: 64px;
    border-radius: 8px;
    object-fit: cover;
  }
  &__slider-name {
    margin-left: 32px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.4;
    @media (max-width: 800px) {
      font-size: 14px;
    }
  }
}

.slick-arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 50px;
  background-color: transparent;
  @media (max-width: 800px) {
    width: 10px;
  }
  &--prev {
      top: 210px;
      left: -40px;
      @media (max-width: 800px) {
        left: -20px;
      }
  }
  &--next {
      top: 210px;
      right: -40px;
      @media (max-width: 800px) {
        right: -20px;
      }
  }
}
